  body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #727272;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }

  @font-face {
    font-family: Anton_Regular;
    src: url(../font/Pacifico-Regular.ttf);
  }
  @font-face {
    font-family: Ysabeau;
    src: url(../font/Poppins-Regular.ttf);
  }

  .font {
    font-family: Anton_Regular ;
    font-size: 50px;
  }

  body{
    font-family: Ysabeau;
  }

  h1 {
    font-weight: bolder;
    font-size: 25px;
  }

  .files input {
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 10px;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 80px;
    right: 0;
    height: 80px;
    content: "";
    background-image: url(../img/upload-file.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#ffffff;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}