html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.form-signin {
  height: 100%;
  max-width: 100%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.T1 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(50px);
  background-color: rgb(254, 254, 254);
}

.T2{
  background-image: url(../img/cerist2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.T3{
  padding-top: 15%;
}

@font-face {
  font-family: Anton_Regular;
  src: url(../font/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Ysabeau;
  src: url(../font/Poppins-Regular.ttf);
}

.font {
  font-family: Anton_Regular ;
  font-size: 50px;
}

body{
  font-family: Ysabeau;
}

h1 {
  font-weight: bolder;
  font-size: 25px;
}