<!doctype html>
<html lang="en">
    
  <head>
    <link rel="icon" href="../static/img/logo1.png">
    <title>CERIST - Login</title>
    <link href="../static/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/alertify/css/alertify.min.css" />
    <link rel="stylesheet" href="../static/alertify/css/themes/default.min.css" />
  </head>
  
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form action="http://127.0.0.1:5000/api/login" method="POST">
        <img class="img mb-2" src="../static/img/imag.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="username" name="username" placeholder="Your username ...">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="login" name="submit">Sign in</button>
      </form>
    </main>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/alertify/alertify.min.js"></script>
    <script>
      $(document).ready(function(){
        const btn = $('#login');

        btn.on('click',function(event){
          event.preventDefault();

          let username = $("#username").val();
          let password = $("#password").val();

          $.ajax({
            url: "/api/login",
            type: "POST",
            cache: false,
            data: {'username': username, 'password': password},
            success: function(res){
              r = JSON.parse(res);
              if (r.success){
                var notification = alertify.notify(r.message, 'success', 5);
                setTimeout(function() {
                  window.location.href = "/dashboard";
                }, 1000);
              }
              else{
                var notification = alertify.notify(r.message, 'error', 5);
              }
            },
            error: function(err){
              alert("INTERNAL ERROR");
            }
          });
        })
      });

    </script>
  </body>
</html>
